.admin-domains .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.admin-domains .filters select[name="lang"] {
    max-width: 200px;
}

.admin-domains .domainNameInput {
    flex: 1;
}

.admin-domains .buttons {
    display: flex;
    gap: 5px;
}
