.admin-header {
    width: 100%;
    padding: 10px;
    background-color: var(--admin-header-bg);
    box-sizing: border-box;
    border-bottom: 2px solid var(--admin-header-border);
}

.admin-header::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.admin-title {
    font-size: 1.4em;
    display: inline-block;
    margin: 0.2em 0 0 0.5em;
}

.admin-header .right-side {
    float: right;
    margin: 0 1em 0 0;
}

.container-centered {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.admin-form .buttons {
    float: right;
}

.admin-form .buttons>* {
    margin: 0 0 0 0.5em;
}

.admin-header .breadcrumbs{padding: 0.5em 0 0 2em; font-size:1em;}
.admin-header .goback{padding: 0 0 0 2em;}
.admin-header .goback span{position: relative; top:-0.1em;}

.admin-header.is-child{
    background: var(--admin-gradient);
}

.admin-header.is-child.tool-bar .tab-label{
    background-color:var(--admin-tab-bg);
}

.admin-header.is-child.tool-bar .tab-label.selected{
    background-color:var(--admin-tab-selected-bg);
}

.admin-header.is-child > div > .tabs-row {
    margin-top: -1.5em;
}

