.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--global-bg);
}

.main-header {
  background-color: var(--nav-bg);
  box-shadow: var(--container-shadow);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.bg-lineart{
  background-image: url(/bg-lineart.jpg);
  width:100%;
  min-height:100%;
}

.main-content {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.has-sidebar {
  display: flex;
  align-items: stretch;
}

.has-sidebar>.content {
  width: 100%;
}

.empty{
  padding:5em 2em 2em 2em; 
  width:100%; 
  max-width:500px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align:center;
}

.empty.short{
  padding:2em; 
}

.material-symbols-rounded.after{
  margin-left:0.2em; 
  margin-right:-0.15em;
}

/* tool bar -----------------------------------------------------------------*/
.tool-bar > .title {
  font-size: 1.4em;
  display: inline-block;
  margin: 0.2em 0 0 0.5em;
}
.tool-bar .sub-title{
  display:inline-block;
  color:var(--global-text-muted);
  position: relative;
  top: -0.1em;
  padding: 0 0.5em 0 0;
}

.tool-bar .left-side {
    float: left;
    margin: 0 0 0 1em;
    text-align:left;
}

.tool-bar .right-side {
    float: right;
    margin: 0 1em 0 0;
    text-align:right;
}

.tool-bar::after{
  content:'';
  clear:both;
  display:block;
}

.tool-bar button,
.tool-bar .button {
  color: var(--link-text);
  border-color: transparent;
  background-color: transparent;
  padding: 0.65em 1.2em 0.55em 1.2em;
}

.tool-bar button.icon,
.tool-bar .button.icon {
  padding: 0.45em 1.2em 0.55em 1.2em;
}

.tool-bar button .material-symbols-rounded,
.tool-bar .button .material-symbols-rounded {
  margin: -0.15em 0.2em 0 -0.2em;
}
.tool-bar button.icon .material-symbols-rounded,
.tool-bar .button.icon .material-symbols-rounded{
  margin:-0.15em -0.5em;
}

.tool-bar button:hover,
.tool-bar .button:hover {
  border-color: var(--link-text);
  background-color: transparent;
}

.tabs-row {
  position: relative;
  bottom:-10px;
  padding:0 0 0 2em;
}

.tabs-row::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.tab-label {
  background-color: var(--tabs-bg);
  color: var(--tabs-text);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--tabs-border);
  border-left: 2px solid transparent;
  padding: 0.5em 1.5em;
  position: relative;
  bottom: -1px;
  float:left;
  cursor:pointer;
  margin:0 0.25em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tab-label.selected {
  background-color: var(--tabs-selected-bg);
  color: var(--tabs-selected-text);
  border-top: 2px solid var(--tabs-border);
  border-right: 2px solid var(--tabs-border);
  border-bottom: 2px solid var(--tabs-selected-bg);
  border-left: 2px solid var(--tabs-border);
}

.tab-label .material-symbols-rounded{
  margin:-0.1em 0.3em 0 0;
}