table.spreadsheet {
    width: 100%;
    border-spacing: 0 3px;
    border-top: 0px solid transparent;
    position: relative;
    top: -3px;
}

.filters {
    display: flex;
}

table.spreadsheet thead td,
table.spreadsheet thead th {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    text-align: left;
}

table.spreadsheet thead .material-symbols-rounded {
    font-size: 1em;
    padding-left: 0.25em;
    vertical-align: text-top;
}

table.spreadsheet td,
table.spreadsheet th {
    padding: 0.3em 0.6em;
}

table.spreadsheet td a,
table.spreadsheet th a {
    color: var(--table-link);
}

table.spreadsheet td a:hover,
table.spreadsheet th a:hover {
    color: var(--table-link-hover);
}

table.spreadsheet td a:active {
    color: var(--table-link-hover);
}

table.spreadsheet td,
table.spreadsheet th {
    cursor: default;
}

table.spreadsheet tbody tr a {
    color: var(--table-row-link);
}

table.spreadsheet tbody tr:hover a {
    color: var(--table-link);
}

table.spreadsheet tbody tr:hover a:hover {
    color: var(--table-link-hover);
}

table.spreadsheet tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

table.spreadsheet tbody tr:nth-child(even) {
    background-color: var(--table-row-even);
}

table.spreadsheet tbody tr:nth-child(odd):hover {
    background-color: var(--table-row-hover);
}

table.spreadsheet tbody tr:nth-child(even):hover {
    background-color: var(--table-row-hover);
}

table.spreadsheet tbody td.buttons {
    text-align: right;
    padding-right: 1em;
    display: flex;
    padding-top: 0.5em
}