@model Collector.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "Dashboard/_Layout";
}

@section Scripts {
    <script src="/js/signalr.js"></script>
    <script src="/js/app.js"></script>
}

<div class="console"></div>
