body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}
.row,
.col {
  box-sizing: border-box;
}
.row {
  width: 100%;
  display: block;
}
.row.hover:hover {
  background: #c7f4eb;
}
.col {
  display: inline-block;
}
.col.field {
  text-align: right;
  padding: 0.5em;
  width: 8em;
  cursor: default;
}
.col.field.long {
  width: 12em;
}
.col.input {
  padding: 0.5em;
  width: calc(100% - 8.5em);
}
.col.input.short {
  width: calc(100% - 12.5em);
}
input {
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  border: solid 2px #2facad;
  width: 100%;
  box-sizing: border-box;
}
button,
.button {
  background: #5cd5d6;
  color: #00586c;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}
button:hover,
.button:hover {
  background: #13ccd8;
  color: #00586c;
}
.buttons {
  text-align: right;
  padding: 1em 0 0 0;
}
.logo {
  position: relative;
}
.logo svg {
  width: 100%;
}
.init {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 10000;
}
.init.fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  animation: fade-init 0.5s ease-in;
}
@keyframes fade-init {
  from {
    background: #000;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
.toggle {
  display: inline-block;
  width: 3.5em;
  height: 1.5em;
  border: 2px solid #fafafa;
  outline: 2px solid #333;
  border-radius: 2em;
  background: #3eafe6;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: toggle-off 0.3s ease-in;
}
.toggle .switch {
  width: 1.5em;
  height: 1.5em;
  left: 0;
  background: #333;
  border-radius: 5em;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  animation: toggle-switch-off 0.3s ease-in;
}
.toggle .switch .light {
  position: absolute;
  color: #fff4b4;
  right: -1.25em;
}
.toggle .switch .dark {
  position: absolute;
  color: #fff4b4;
  left: -1.25em;
}
.toggle.on {
  background: #666;
  border: 2px solid #333;
  outline: 2px solid #fafafa;
  animation: toggle-on 0.3s ease-in;
}
.toggle.on .switch {
  left: 2em;
  animation: toggle-switch-on 0.3s ease-in;
}
.toggle-dark-mode {
  width: 10em;
}
.toggle-dark-mode > span {
  display: inline-block;
  vertical-align: super;
  padding-right: 0.5em;
}
.toggle-dark-mode .toggle {
  margin: 0 auto;
}
@keyframes toggle-switch-on {
  from {
    left: 0em;
  }
  to {
    left: 2em;
  }
}
@keyframes toggle-switch-off {
  from {
    left: 2em;
  }
  to {
    left: 0em;
  }
}
@keyframes toggle-on {
  from {
    background: #3eafe6;
  }
  to {
    background: #666;
  }
}
@keyframes toggle-off {
  from {
    background: #666;
  }
  to {
    background: #3eafe6;
  }
}
body {
  background: #fafafa;
  color: #333;
  animation: darkmode-off 0.5s ease-in-out;
}
body.dark-mode {
  background: #101010;
  color: #fafafa;
  animation: darkmode-on 0.5s ease-in-out;
}
input {
  background: #effcf9;
  color: #333;
  animation: darkmode-input-off 0.5s ease-in-out;
}
body.dark-mode input {
  background: #444;
  color: #fff;
  animation: darkmode-input-on 0.5s ease-in-out;
}
body.dark-mode .row.hover:hover {
  background: #335b64;
}
a:link {
  color: #8d00f0;
}
a:hover {
  color: #f512ff;
}
a:active {
  color: #e257ff;
}
a:visited {
  color: #eb7d1c;
}
body.dark-mode a:link {
  color: #0fe4f3;
}
body.dark-mode a:hover {
  color: #2af6ff;
}
body.dark-mode a:active {
  color: #2af6ff;
}
body.dark-mode a:visited {
  color: #793d84;
}
@keyframes darkmode-on {
  from {
    background: #fafafa;
    color: #333;
  }
  to {
    background: #333;
    color: #fafafa;
  }
}
@keyframes darkmode-off {
  from {
    background: #333;
    color: #fafafa;
  }
  to {
    background: #fafafa;
    color: #333;
  }
}
@keyframes darkmode-input-on {
  from {
    background: #effcf9;
    color: #333;
  }
  to {
    background: #444;
    color: #fff;
  }
}
@keyframes darkmode-input-off {
  from {
    background: #444;
    color: #fff;
  }
  to {
    background: #effcf9;
    color: #333;
  }
}
.logo .light {
  position: absolute;
  opacity: 1;
  animation: opacity-1 0.5s ease-in-out;
}
.logo .dark {
  opacity: 0;
  animation: opacity-0 0.5s ease-in-out;
}
body.dark-mode .logo .light {
  opacity: 0;
  animation: opacity-0 0.5s ease-in-out;
}
body.dark-mode .logo .dark {
  opacity: 1;
  animation: opacity-1 0.5s ease-in-out;
}
@keyframes opacity-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
nav ul.menu {
  color: #cd71eb;
}
nav ul.menu li:hover {
  color: #cd71eb;
}
body {
  background-color: transparent !important;
}
body.dark-mode {
  background-color: transparent !important;
}
.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  animation: bg-overlay-light-mode 0.5s ease-in-out;
}
.dark-mode .bg-overlay {
  background: rgba(0, 0, 0, 0.8);
  animation: bg-overlay-dark-mode 0.5s ease-in-out;
}
@keyframes bg-overlay-dark-mode {
  from {
    background: #fafafa;
  }
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}
@keyframes bg-overlay-light-mode {
  from {
    background: rgba(0, 0, 0, 0.8);
  }
  to {
    background: #fafafa;
  }
}
.login-section {
  position: relative;
  z-index: 1;
}
.login-title {
  margin: 0 auto;
  text-align: center;
  max-width: 50em;
  width: 100%;
  box-sizing: border-box;
  padding: 4em 4em 0 4em;
}
.login-title .logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  position: relative;
}
.login-title .logo .light {
  position: absolute;
  opacity: 1;
  animation: logo-light-on 0.5s ease-in-out;
}
.login-title .logo .dark {
  opacity: 0;
  animation: logo-dark-off 0.5s ease-in-out;
}
body.dark-mode .login-title .logo .light {
  opacity: 0;
  animation: logo-light-off 0.5s ease-in-out;
}
body.dark-mode .login-title .logo .dark {
  opacity: 1;
  animation: logo-dark-on 0.5s ease-in-out;
}
@keyframes logo-light-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logo-light-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes logo-dark-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logo-dark-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.login-title .logo img {
  width: 100%;
}
.login-box {
  padding: 50px 20px;
  max-width: 25em;
  width: 100%;
  margin: 0 auto;
}
.toggle-dark-mode {
  padding: 3em 0 0 0;
  margin: 0 auto;
  text-align: center;
}
.toggle-dark-mode .toggle {
  margin: 0 auto;
}
button.login {
  padding: 0.75em 2em;
  font-size: 1.075em;
  position: relative;
}
button.login img {
  position: absolute;
  right: 5px;
  height: 100%;
}
button.login .tire-tracks {
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
button.login .tire-tracks img:first-child {
  opacity: 1;
  right: -4px;
  animation: button-login 0.3s ease-in-out;
}
button.login .tire-tracks img:last-child {
  position: relative;
  opacity: 0;
  left: -151px;
  animation: button-login-hover 0.3s ease-in-out;
}
button.login:hover .tire-tracks img:first-child {
  opacity: 0;
  animation: button-login-hover 0.3s ease-in-out;
}
button.login:hover .tire-tracks img:last-child {
  opacity: 1;
  animation: button-login 0.3s ease-in-out;
}
@keyframes button-login {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes button-login-hover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.login-footer {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
}
