@dark-bg: #101010;
@dark-color: #fafafa;
@dark-input-bg: #444;
@dark-input-color: #fff;
@dark-input-border: #2facad; 
@dark-row-hover: #335b64;
@dark-button-bg: #5cd5d6;
@dark-button-color: #00586c;
@light-button-hover-bg: #13ccd8;
@light-button-hover-color: #00586c;
@dark-bg-glass: rgba(0,0,0,0.8);
@dark-nav-color:#cd71eb;
@dark-nav-color-hover:#cd71eb;