.accordion {
    border-radius: 6px;
    background: var(--container-bg);
    box-shadow: var(--global-shadow-sm);
    margin: 1em 0;
}

.accordion-item {
    border-bottom: 1px solid var(--container-border);
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-title {
    cursor: pointer;
    padding: 1em 1.5em;
    font-weight: 500;
    background: var(--tabs-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    outline: none;
    transition: background 0.2s;
}

.accordion-title:hover, .accordion-item.open .accordion-title {
    background: var(--tabs-hover-bg);
}

.accordion-arrow {
    font-size: 1.2em;
    margin-left: 0.5em;
    transition: transform 0.2s;
}

.accordion-item.open .accordion-arrow {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 1em 1.5em;
    background: var(--container-bg);
    animation: accordion-fade-in 0.3s;
}

@keyframes accordion-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
