.modal-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:9999;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top:6em;
}

.modal {
    background-color: #efefef;
    border-radius: 0.5em;
    box-sizing: border-box;
    min-width: 500px;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.15);
    max-height: 85vh;
    overflow-y: auto;
    max-width:100vw;
}

.modal.wide {
    min-width: 90vw;
    max-width: 95vw;
    width: 90vw;
    max-height: 90vh;
    padding: 1.5em;
}

.is-mobile .modal{
    min-width:100%;
}

.is-mobile .modal.wide {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    max-height: 95vh;
}

.modal-title-bar{
    width:100%;
}

.modal-title-bar h3{
    margin: 0 2em 0 0;
    display: inline-block;
}

.modal-close-btn{
    float:right;
    cursor:pointer;
}

.modal-close-btn:hover{
    color:#cc0000;
}

.modal .buttons{
    padding-top:1em;
    text-align:right;
}

.modal .message{
    max-width:500px;
    padding:2em 0;
    text-align:center;
}